<div class="content">
	<br>
	<img src="https://static.studygolang.com/static/img/polarisxu-qrcode-soso-s.png">
</div>
{{- $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="related-posts thin">
	<h2>{{ i18n "seeAlso" }}</h2>
	<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
	</ul>
</div>
{{ end -}}

<span id="busuanzi_container_page_pv" style="color:#999;font-size: .8rem;">
  本文总阅读量 <span id="busuanzi_value_page_pv"></span> 次
</span>
